body{
  background-color:#b7fff2;
}
h1{
  color:#00005c;
  text-align: center;
}
h3{
    color:#00005c;
}
th{

      color:#1f4068;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 30%;
}

tableP{
  border-style: solid 1px gray;
}